<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" color="primary">
      {{"HOME" | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeLanguage()">
        <ion-icon name="language-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary">
        <h1>{{"HELLO" | translate}}</h1>

      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{"WELCOME" | translate}}
    </ion-card-content>
  </ion-card>
</ion-content>
